<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TAOL1_BCV" connectionString="Data Source=TAOL1_BCV;Persist Security Info=True;User ID=U93312800;Password=mudarsenha#02;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
